.input {
    $root: &;
    display: flex;
    flex-flow: column nowrap;
    &__error
    {   
        box-shadow: 2px 2px 7px rgba(245, 59, 59, .6);
    }
    &__fill
    {
        box-shadow: 2px 2px 7px rgba(29, 204, 31, .6);
    }

}
.input>input
{
    border-radius: 3px;
    border:1px solid #92aab0;
}
