include ../input/input
include ../textarea/textarea

mixin feedback-form(props)
    form.feedback-form&attributes(attributes)
        +input({
            label: 'Фамилия',
            name: 'surname',
            type: 'text',
            placeholder: 'Фамилия',
            required: true
        }).feedback-form__input
        +input({
            label: 'Имя',
            name: 'name',
            placeholder: 'Имя',
            required: true
        }).feedback-form__input
        +input({
            label: 'Отчество',
            name: 'middlename',
            type: 'text',
            placeholder: 'Отчество',
            required: true
        }).feedback-form__input
        +input({
            label: 'Телефон',
            name: 'phone',
            type: 'tel',
            placeholder: 'Телефон',
            required: true
        }).feedback-form__input
        +input({
            label: 'Email',
            name: 'email',
            type: 'email',
            placeholder: 'Email',
            required: true
        }).feedback-form__input
        +textarea({
            name: 'message',
            placeholder: 'Введите сообщение...'
        }).feedback-form__textarea
        button.feedback-form__button Отправить